@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
    ViewBag.Title = "中佰会议系统管理员";
}
@section BodyLess{
    <link href="~/less/meetingPlace/edit.less" type="text/css" rel="stylesheet">
}
        <div class="panel panel-default col-md-9 col-md-offset-1" id="mainContentRight">
            <div>
                <div class="col-md-3 ">
                    <h1><strong>编辑会场</strong></h1>
                </div>
                <div class="col-md-7">
                    <br />
                    <ol class="breadcrumb">
                        <li><a href="/Account/Admin">首页</a></li>
                        <li><a href="/MeetingPlace/Index_admin">会场管理</a></li>
                        <li class="active">编辑会场</li>
                    </ol>
                </div>
                <div class="col-md-2 ">
                    <br />
                    <button class="btn btn-default" type="button" id="cancel1" href="#">取 消</button>
                </div>
                <span id="ContentRightHeadState">
                    状态:<span id="Status"></span>
                </span>
            </div>
            <p id="editMeeting1">
                <strong>会场名称：</strong>
                <input id="input1" type="text" name="editMeeting">
            </p>
            <p id="editMeeting2">
                <strong>可容纳的人数：</strong>
                <input id="input2" type="text" name="editMeeting">
            </p>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 col-md-offset-4" id="cancel2Keep">
                    <button class="btn btn-default" type="button" id="cancel2" href="#">取 消</button>&nbsp;&nbsp;
                    <button class="btn btn-default" type="button" id="keep" href="#">保存编辑</button>
                </div>
            </div>
        </div>

        <script src="~/js/meetingPlace/edit.js"></script>