@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
    ViewBag.Title = "中佰会议系统管理员";
}
@section BodyLess{
    <link href="~/less/meetingPlace/index.less" type="text/css" rel="stylesheet">
}

        <div class="panel panel-default col-md-9 col-md-offset-1" id="mainContentRight">
            <div id="ContentRightHead" class="col-md-12">
                <p id="ContentRightHeadTitle" class="col-md-3"><strong>会场管理</strong></p>
                <ol class="breadcrumb col-md-3">
                    <li><a href="/Account/Admin">首页</a></li>
                    <li class="active">会场管理</li>
                </ol>
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
                <button class="btn btn-default col-md-2 returnIndex" type="button">返回主页</button>
                <span id="ContentRightHeadState">
                    状态:<span id="Status"></span>
                </span>
            </div>
            <div class="ContentRightButtonGroup">
                <button class="btn btn-default new" type="button">新增会场</button>
            </div>
            <div id="ContentRightList">
                <div id="contentRightListGroup">
                    <ul class="list-group contentRightListGroupBanderList">
                        <li href="#" class="list-group-item disabled container-fluid">
                            <label class="col-md-4 list-If">
                                会场名称
                            </label>
                            <label class="col-md-4 list-If">
                                会场可容纳人数
                            </label>
                        </li>
                    </ul>
                    <ul class="list-group contentRightListGroupOutWindow">
                        <ul class="list-group contentRightListGroupOutWindowList"></ul>
                    </ul>
                </div>
                <nav class="text-center" id="paginationOutWindow">
                    <ul class="pagination">
                        <!--<li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>-->
                    </ul>
                </nav>
            </div>
            <div id="buttonGroup" class="col-md-2 col-md-offset-10">
                <button class="btn btn-default returnIndex" type="button">返回主页</button>
            </div>
        </div>
    </div>

    <script src="~/js/meetingPlace/index.js"></script>