<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>无操作权限</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap-datetimepicker-master/less/datetimepicker.less">
    <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap-datetimepicker-master/css/jquery-ui.css">

    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/less/dist/less.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"> </script>

    <link type="text/css" rel="stylesheet" href="~/less/common/admin.less" />
    <script src="~/js/common/admin.js"></script>

    <link href="~/less/error/permissionDenied.less" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="container" id="mainContent">
        <div>
            <fieldset>
                <legend>无操作权限</legend>
                <div>
                    <button type="button" class="reLogin" value="">重新登录</button>
                </div>
            </fieldset>
        </div>
    </div>

    <script src="~/js/error/permissionDenied.js" type="text/javascript"></script>
</body>
</html>
