@{
    Layout = "~/Views/Shared/_Layout_organizor.cshtml";
    ViewBag.Title = "中佰会议系统组织者";
}
@section BodyLess{
    <link href="~/less/user/add_organizor.less" type="text/css" rel="stylesheet">
}
<div>
    <input type="hidden" id="meetingID" value="@Session["meetingID"]" />
</div>
<div class="container" id="mainContent">
    <div class="panel panel-default col-md-9 col-md-offset-1 id="mainContentRight">
        <div>
            <div class="col-md-3">
                <h1><strong>添加人员</strong></h1>
            </div>
            <div class="col-md-3 col-md-offset-6" id="return_status">
                <br />
                <p><button class="btn btn-default cancel" type="button" id="cancel">返回</button></p>
                <div id="ContentRightHeadState">
                    状态:<span id="Status"></span>
                </div>
            </div>
        </div>
        <hr style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#987cb9 size=3>
        <div>
            <div id="importExcel" class="col-md-4">
                <label for="file_upload">
                    导入Excel文件(sheet页名必须为user)
                </label>
                <input type="file" id="file_upload" name="file" />
                <div style="background:#848484;width:100px;height:10px;margin-top:5px">
                    <div id="progressNumber" style="background:#428bca;width:0px;height:10px">
                    </div>
                </div>
                <font id="percent">0%</font>

                <input type="button" class="upload" value="导入" />
            </div>
            <div id="inputAddPeople" class="col-md-8">
                <br/><br/><br /><br />
                <div>
                    <label for="userName" id="peopleName">人员姓名：</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input id="userName" type="text" name="addPeople">
                </div>
                <div>
                    <label for="userDepartment" id="peopleDept">人员部门单位：</label>&nbsp;&nbsp;
                    <input id="userDepartment" type="text" name="addPeople">
                </div>
                <div>
                    <label for="userJob" id="peopleJob">人员职务：</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input id="userJob" type="text" name="addPeople">
                </div>
                <div id="peopleDescribe">
                    <label for="userDescription">人员详细描述：</label>
                    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<textarea id="userDescription"></textarea></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-2 col-md-offset-6" id="keep">
                @*<button class="btn btn-default cancel" type="button" id="cancel2"  >取消</button>&nbsp;&nbsp;*@
                <button class="btn btn-default save" type="button">保存</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/user/add_organizor.js" ></script>