@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
    ViewBag.Title = "中佰会议系统管理员";
}
@section BodyLess{
    <link href="~/less/user/add.less" type="text/css" rel="stylesheet">
}

    <div class="panel panel-default col-md-9 col-md-offset-1" id="mainContentRight">
        <div>
            <div class="col-md-3 ">
                <h1><strong>添加人员</strong></h1>
            </div>
            <div class="col-md-6">
                <br />
                <ol class="breadcrumb">
                    <li><a href="/Account/Admin">首页</a></li>
                    <li><a href="/User/Index_admin">人员管理</a></li>
                    <li class="active">添加人员</li>
                </ol>
            </div>
            <div class="col-md-3 ">
                <br />
                <button class="btn btn-default" type="button" id="cancel1" href="#">取消编辑</button>
            </div>
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4" id="ContentRightHeadState">
                    状态:<span id="Status"></span>
                </div>
            </div>
        </div>

        <div id="importExcel" class="col-xs-2">   
            <label for="file_upload">
                导入Excel文件(sheet页名必须为user)
            </label>
            <input type="file" id="file_upload" name="file" />
            <div style="background:#848484;width:100px;height:10px;margin-top:5px">
                <div id="progressNumber" style="background:#428bca;width:0px;height:10px">
                </div>
            </div>
            <font id="percent">0%</font>        
            
            <input type="button" class="upload" value="导入" />   
        </div>

        <div id="inputaddemployee" class="col-xs-10">
            <p id="addemployee1"><strong>姓名：</strong><input id="input1" type="text" name="addperson"></p>
            <p id="addemployee2"><strong>部门单位：</strong><input id="input2" type="text" name="addperson"></p>
            <p id="addemployee3"><strong>职务：</strong><input id="input3" type="text" name="addperson"></p>
            <div>
                <strong>角色：</strong>
                <select name="select" id="select" class="xla_k"></select>
            </div>
            <div>
                <strong>等级：</strong>
                <input type="number" id="selectLevel">
            </div>
            <div><strong>详细描述：</strong></div><textarea id="description"></textarea>

        </div>


        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-md-offset-4" id="cancel2keep">
                <button class="btn btn-default" type="button" id="cancel2" href="#">取 消</button>&nbsp;&nbsp;
                <button class="btn btn-default" type="button" id="keep" href="#">保 存</button>
            </div>
        </div>

    </div>

<script src="~/js/user/add.js" charset="gbk"></script>