@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
    ViewBag.Title = "中佰会议系统管理员";
}
@section BodyLess{
    <link href="~/less/user/add.less" type="text/css" rel="stylesheet">
}

    <div class="panel panel-default col-md-9 col-md-offset-1" id="mainContentRight">
        <div>
            <div class="col-md-3 ">
                <h1><strong>添加人员</strong></h1>
            </div>
            <div class="col-md-6">
                <br />
                <ol class="breadcrumb">
                    <li><a href="/Account/Admin">首页</a></li>
                    <li><a href="/User/Index_admin">人员管理</a></li>
                    <li class="active">添加人员</li>
                </ol>
            </div>
            <div class="col-md-3 ">
                <br />
                <button class="btn btn-default" type="button" id="cancel1" href="#">取消编辑</button>
            </div>
            <span id="ContentRightHeadState">
                状态:<span id="Status"></span>
            </span>
        </div>

        <div id="importExcel">
            <form action="/User/Import" method="post" enctype="multipart/form-data">
                <label>
                    导入Excel文件<input type="file" name="file" title="导入Excel文件" />
                </label>
                <input type="submit" value="导入" />
            </form>
        </div>

        <div id="inputaddemployee">
            <p id="addemployee1"><strong>姓名：</strong><input id="input1" type="text" name="addperson"></p>
            <p id="addemployee2"><strong>部门单位：</strong><input id="input2" type="text" name="addperson"></p>
            <p id="addemployee3"><strong>职务：</strong><input id="input3" type="text" name="addperson"></p>
            <div>
                <strong>角色：</strong>
                <select name="select" id="select" class="xla_k"></select>
            </div>

            <div><strong>详细描述：</strong></div><textarea id="description"></textarea>

        </div>


        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 col-md-offset-4" id="cancel2keep">
                <button class="btn btn-default" type="button" id="cancel2" href="#">取消编辑</button>&nbsp;&nbsp;
                <button class="btn btn-default" type="button" id="keep" href="#">保存编辑</button>
            </div>
        </div>

    </div>

<script src="~/js/user/add.js"></script>