@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
    ViewBag.Title = "中佰会议系统管理员";
}
@section BodyLess{
    <link href="~/less/role/index.less" type="text/css" rel="stylesheet">
}

        <div class="panel panel-default col-md-9 col-md-offset-1" id="mainContentRight">
            <div id="ContentRightHead">
                <div class="col-md-4">
                    <h2><strong>角色管理</strong></h2>
                </div>
                <div class="col-md-4 ">
                    <div class="row">
                        <div class="col-md-8" id="ContentRightHeadState">
                            状态:<span id="Status"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h5 id="buildRole">创建角色：</h5>
                <p>角色名称：<input id="input1" type="text" name="roleName"></p>
                <div id="authority">
                    角色权限：
                    <div class="createRole-permission-scroll" id="createRole">
                    </div>

                    <button class="btn btn-default" type="button" id="create" href="#">创  建</button>
                </div>

                <h5>所有角色：</h5>
                <div class="all_role_row">
                    <div class="col-md-3">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="roleTable"></table>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="table-responsive" id="scrollTable">
                            <table class="table table-bordered" id="permissionTable"></table>
                        </div>
                    </div>
                </div>

                @*<div class="row">
                    <div class="col-md-3 col-md-offset-3"></div>
                    <div class="col-md-3 col-md-offset-3" id="keep">
                        <button class="btn btn-default" type="button" href="#">保存编辑</button>
                    </div>
                </div>*@
            </div>
        </div>

    <script src="~/js/role/index.js"></script>
