@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
    ViewBag.Title = "中佰会议系统管理员";
}
@section BodyLess{
    <link href="~/less/account/admin.less" type="text/css" rel="stylesheet">
}
        <div class="panel col-md-9 col-md-offset-1" id="mainContentRight">
            <div>
                <div class="panel panel-default col-md-5">
                    会场：
                    <div class="buttonGropSingle">
                        <button type="button" class="btn btn-button btn-default btn-lg">
                            会场总计:
                        </button>
                    </div>
                </div>
                <div class="panel panel-default col-md-5 col-md-offset-2">
                    设备：
                    <div class="buttonGropSingle">
                        <button type="button" class="btn btn-button btn-default btn-lg">
                            设备总计:
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <div class="panel panel-default col-md-5">
                    人员：
                    <div class="buttonGropDouble">
                        <button type="button" class="btn btn-button btn-default btn-lg">
                            系统所有人员总计:
                        </button>
                        <button type="button" class="btn btn-button btn-default btn-lg">
                            上次登录新增人员:
                        </button>
                    </div>
                </div>
                <div class="panel panel-default col-md-5 col-md-offset-2">
                    角色：
                    <div class="buttonGropDouble">
                        <button type="button" class="btn btn-button btn-default btn-lg">
                            会议组织者总计:
                        </button>
                        <button type="button" class="btn btn-button btn-default btn-lg">
                            参会人员总计:
                        </button>
                    </div>
                </div>
            </div>
        </div>
    