
@{
    ViewBag.Title = "Index";
}
<form action="/Document/Upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="hidden" name="agendaID" value="2"/>
    <input type="submit" value="上传"/>
</form>
<fieldset>
    <legend>
        登录界面
    </legend>
    <form method="post" action="/Account/Login">
        <label>用户名</label>
        <input type="text" name="userName" /><br />
        <label>密码</label>
        <input type="password" name="password" /><br />
        <label>系统:</label>
        <label>管理员</label>
        <input type="radio" name="system" value="admin" checked />
        <label>会议组织者</label>
        <input type="radio" name="system" value="organizor" />
        <input type="submit" value="登录" />
    </form>
</fieldset>
