
@{
    ViewBag.Title = "Index";
}
<head>
    <title></title>
    <script>
    function postCreateUser() {
        $.ajax({
            type: "POST",
            url: "/User/CreateUser",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({
                "userName": "谢庆雄",
                "userDepartment": "华工C16",
                "userJob": "测试员",
                "userDescription": "测试android",
                "roleID": 3
            }),
            success: function (jsonResult) {
                alert(JSON.stringify(jsonResult));
            }
        });
    };

    function postUpdateUser() {
        $.ajax({
            type: "POST",
            url: "/User/UpdateUser",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({
                "userID":24,
                "userName": "谢庆雄",
                "userDepartment": "华工C16",
                "userJob": "测试员",
                "userDescription": "测试android",
                "roleID": 2
            }),
            success: function (jsonResult) {
                alert(JSON.stringify(jsonResult));
            }
        });
    };

    function postDeleteUsers() {
        $.ajax({
            type: "POST",
            url: "/User/ChangeUserStatus",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({
                "userID": 21,
                "available":1
            }
                ),
            success: function (jsonResult) {
                alert(JSON.stringify(jsonResult));
            }
        });
    };

    function getUsers() {
        $.ajax({
            type: "POST",
            url: "/User/GetUsers",
            contentType: "application/json",
            dataType: "json",
            success: function (jsonResult) {
                alert(JSON.stringify(jsonResult));
            }
        });
    };
    </script>
</head>
<input type="button" id="jsonID" name="testPostJson" value="postCreateUser" onclick="postCreateUser()"/><br />
<input type="button" id="jsonID" name="testPostJson" value="postDeleteUsers" onclick="postDeleteUsers()" /><br />
<input type="button" id="jsonID" name="testPostJson" value="postUpdateUser" onclick="postUpdateUser()" /><br />
<input type="button" id="jsonID" name="testPostJson" value="getUsers" onclick="getUsers()" /><br />
<fieldset>
    <legend>
        登录界面
    </legend>
    <form method="post" action="/Account/Login">
        <label>用户名</label>
        <input type="text" name="userName" /><br />
        <label>密码</label>
        <input type="password" name="password" /><br />
        <label>系统:</label>
        <label>管理员</label>
        <input type="radio" name="system" value="admin" checked />
        <label>会议组织者</label>
        <input type="radio" name="system" value="organizor" />
        <input type="submit" value="登录" />
    </form>
</fieldset>
