
@{
    ViewBag.Title = "Index";
}
<head>
    <title></title>
    <script language="javascript">
    function getUsers() {
        $.ajax({
            type: "Get",
            url: "/User/GetUsers",
            contentType: "application/json",
            dataType: "json",
            success: function (jsonResult) {
                alert(JSON.stringify(jsonResult));
            }
        });
    };
    </script>
</head>
<input type="button" id="jsonID" name="testPostJson" value="getUsers" onclick="getUsers()" /><br />
<fieldset>
    <legend>
        登录界面
    </legend>
    <form method="post" action="/Account/Login">
        <label>用户名</label>
        <input type="text" name="userName" /><br />
        <label>密码</label>
        <input type="password" name="password" /><br />
        <label>系统:</label>
        <label>管理员</label>
        <input type="radio" name="system" value="admin" checked />
        <label>会议组织者</label>
        <input type="radio" name="system" value="organizor" />
        <input type="submit" value="登录" />
    </form>
</fieldset>
