<!DOCTYPE html>
<html>
<head lang="en">
    <title>登录界面</title>
    <meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" href="~/less/account/index.less" />
</head>
<body>
    <fieldset id="login">
        <p><strong>中佰会议管理系统</strong></p>
        <p><strong>登录界面</strong></p>
        <form method="post" action="/Account/Login">
            <div id="input">
                <div id="userName">
                    <label>用户名</label>
                    <input type="text" name="userName" id="userNameInput"  value="彭洪云"/>
                </div>
                <div id="password">
                    <label>密码</label>
                    <input type="password" name="password" id="passwordInput" value="123456"/>
                </div>
            </div>
            <div id="select">
                <label>系统 :</label>
                <input type="radio" name="system" value="0"  />
                <label>管理员</label>
                <input type="radio" name="system" value="1" checked />
                <label>会议组织者</label>
            </div>
            <hr />
            <button type="submit" value="登录" id="loginBtn">登 录</button>
        </form>
    </fieldset>
</body>
</html>
