@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
    ViewBag.Title = "中佰会议系统管理员";
}
@section BodyLess{
    <link href="~/less/device/edit.less" type="text/css" rel="stylesheet">
}

        <div class="panel panel-default col-md-9 col-md-offset-1" id="mainContentRight">
            <div>
                <div class="col-md-3 ">
                    <h1><strong>编辑设备</strong></h1>
                </div>
                <div class="col-md-7">
                    <br />
                    <ol class="breadcrumb">
                        <li><a href="/Account/Admin">首页</a></li>
                        <li><a href="/MeetingPlace/Index_admin">会场管理</a></li>
                        <li><a href="/Device/Index_admin">设备管理</a></li>
                        <li class="active">编辑设备</li>
                    </ol>
                </div>
                <div class="col-md-2 ">
                    <br />
                    <button class="btn btn-default" type="button" id="cancel1" href="#">取  消</button>
                </div>
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3" id="ContentRightHeadState">
                        状态:<span id="Status"></span>
                    </div>
                </div>
            </div>
            <p id="deviceNum"><strong>设备编号：</strong><input id="input1" type="text" name="editDevice"></p>
            <p id="device"><strong>设备IMEI：</strong><input id="input2" type="text" name="editDevice"></p>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 col-md-offset-4" id="cancel2Keep">
                    <button class="btn btn-default" type="button" id="cancel2" href="#">取  消</button>&nbsp;&nbsp;
                    <button class="btn btn-default" type="button" id="keep" href="#">保  存</button>
                </div>
            </div>
        </div>

        <script src="~/js/device/edit.js"></script>