#mainContent{
    margin-top:10%;
 
    #mainContentRight{
        font-weight:800;
        color:#000000;
        .panel{
            height:200px;
            .buttonGropSingle{
                position: relative;
                text-align: center;
                padding-top:16%;
                padding-bottom:16%;
            }
             .buttonGropDouble{
                position: relative;
                text-align: center;
                padding-top:12%;
                padding-bottom:12%;
                button{
                    margin-bottom: 1%;
                }
            }
        }  
        #buttonGroup{
            position:absolute;
            bottom:30px;
            right:-100px;
        }
        #ContentRightHeadState{
            position:relative;
            left:120px;
        }
    }
}



